html,body{
    height:100%;
}

img{
    max-width:100%;
}

#cover {
    background: #222 url(img/stars.jpg) bottom center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption{
    width:100%;
}

.section-content{
    padding:5rem 0; 
}

#about{
    background:url('img/girlincar.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background:	rgba(40,0,0,.8) ;
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background: #222;
    color: white;
    font-size: .8rem;
    padding: 2.5rem 0;
}